language: node_js
sudo: false
node_js:
- node
addons:
  firefox: '49.0.2'
  apt:
    packages:
    - oracle-java8-installer
cache:
  directories:
  - node_modules
  - "$HOME/.cache/bower"
before_script:
- npm install web-component-tester bower polylint
- $(npm bin)/bower install
- $(npm bin)/polylint --no-recursion
script:
- JAVA_HOME=/usr/lib/jvm/java-8-oracle PATH=/usr/lib/jvm/java-8-oracle/bin:$PATH xvfb-run $(npm bin)/wct
after_success: '[ ${TRAVIS_PULL_REQUEST} = "false" ] && [ ${TRAVIS_BRANCH} = "master" ] && $(npm bin)/bower install -s https://${GH_TOKEN}@github.com/Collaborne/collaborne-build-tools.git && bower_components/collaborne-build-tools/gpages_build.sh Collaborne info@collaborne.com'
env:
  secure: PmDuntdWEK6dnl6LxT5FGc2X7VT2Yay1tVZlEVCCDIEs+JHsxK+39ELqEaElxcke+SvSYHUm26UfUV48dXn8xncwvfwMApM6LRZ0D95fe61FVtQsGDHWCwoWVFSqXlKAMKxXggmuICsMqGbmEOom096W+HPXtzudo913Yg4CPzXTakXpTyam9CjK3JZP2CCHQbkFlAGpDVTBqcNUAkmL0Cl1pA5W7SWFn+0ZDKQjagypzMEsNGCopTPXSZ0xXtFuZL0VrXtzXcGerevoGHQ+GzcKSke/nh0+j8OHnhH4k+EVcH5OllxySubDlY6FmKs6Mgtq2JAzVkE7VRnOb7H9gEMe6lyUYRRpmO8xPO/E40RvHpY021SSRHRSJ7m68olmrVPAKNtx5Bs98ivGRIKX71l4I6fgJ+EdRI+Am8KrprvSGP1nJ9RjyCkNVExdYwTJBxGgDK8E8mY94bne6hOURiMnZ+YlDPrlkozTHbYl7bLjOOTR9DUVGmf7JaK0X1oa04AKBiKT6684cAE9m3vYbZUwwe2RRSLKnKex3NVd0rZ7ZFuu8uPQT7VNEMx2NomEa7elhXM2OqO6ApSXLmD76DLwOie1RQ5vTfbb26tz0/zB32u2NfV8Pwi5CCqJjFIE58EUYNxyOdC1qeMRJ7eg4LkNfKndJ3K43FHwIfl3SUU=
